<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-900">
    {{ salute }}
    <i
      class="fa-solid fa-sun fa-xl saluteIcon"
      *ngIf="timeIdentifier == 1"
      style="color: #a19fa6"
    ></i>
    <i
      class="fa-solid fa-cloud-sun fa-xl saluteIcon"
      *ngIf="timeIdentifier == 2"
      style="color: #a19fa6"
    ></i>
    <i
      class="fa-solid fa-cloud-moon fa-xl saluteIcon"
      *ngIf="timeIdentifier == 3"
      style="color: #a19fa6"
    ></i>
  </h1>
  <div class="mr-3">
    <h6>{{ formattedDate }}</h6>
    <h3 *ngIf="hour < 12">{{ hour }}:{{ minutes }} AM</h3>
    <h3 *ngIf="hour >= 12">{{ hour }}:{{ minutes }} PM</h3>
  </div>
</div>
