<h3 class="text-center text-dark responsive">Global Data</h3>
<div class="row">
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on gender">
      <app-data category="gender"></app-data>
    </app-container>
  </div>
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on age">
      <app-data category="age"></app-data>
    </app-container>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on occupation">
      <app-data category="occupation"></app-data>
    </app-container>
  </div>
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on sleep disorders">
      <app-data category="sleeping disorder"></app-data>
    </app-container>
  </div>
</div>
