<h3 class="text-center text-dark responsive">Global Data</h3>
<div class="row">
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on gender">
      <app-data category="Gender"></app-data>
    </app-container>
  </div>
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on BMI Category">
      <app-data category="BMI Category"></app-data>
    </app-container>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on occupation">
      <app-data category="Occupation"></app-data>
    </app-container>
  </div>
  <div class="col-xl-6 col-lg-6">
    <app-container title="Sleep metrics based on sleep disorders">
      <app-data category="Sleep Disorder"></app-data>
    </app-container>
  </div>
</div>
