<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
  >
    <!-- Sidebar - Brand -->
    <li>
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="index.html"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-moon" style="color: #ffffff"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Dream-Ease</div>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="#dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Health</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="#sleep-calculator">
        <i class="fas fa-fw fa-calculator"></i>
        <span>Sleep quality calculator</span></a
      >
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="#your-charts">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Your charts</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Comunity</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="#global-data">
        <i class="fas fa-fw fa-globe"></i>
        <span>Global data</span></a
      >
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="#advices">
        <i class="fas fa-fw fa-message"></i>
        <span>Advices</span></a
      >
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="#forums">
        <i class="fas fa-fw fa-comments"></i>
        <span>Forums</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Top-Bar  -->
      <app-top-bar></app-top-bar>
      <!-- End Top-Bar  -->
      <!-- Begin Page Content -->

      <!-- Dashboard Section -->
      <section id="dashboard"><app-dashboard></app-dashboard></section>

      <!-- Calculator Section -->
      <section id="sleep-calculator">
        <h3 class="text-center text-dark responsive">
          Sleep Quality Calculator
        </h3>
      </section>

      <!-- Charts Section -->
      <section id="your-charts">
        <h3 class="text-center text-dark responsive">Your Charts</h3>
      </section>

      <!-- Global Data Section -->
      <section id="global-data">
        <h3 class="text-center text-dark responsive">Global Data</h3>
      </section>

      <!-- Global Data Section -->
      <section id="advices">
        <h3 class="text-center text-dark responsive">Advices</h3>
      </section>

      <!-- Global Data Section -->
      <section id="forums">
        <h3 class="text-center text-dark responsive">Forums</h3>
      </section>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Dream-Ease 2023</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" href=".">Logout</a>
        </div>
      </div>
    </div>
  </div>



</div>
