#challengesUL {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 2rem;
}

#challengesUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 15.5px;
  transition: 0.2s;
  color: #5a5c69;
  font-weight: 600 !important;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#challengesUL li:nth-child(odd) {
  background: #f9f9f9;
}

#challengesUL li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#challengesUL li.checked {
  background: #907bd2;
  color: #fff;
  text-decoration: line-through;
}
#challengesUL li.checked:nth-child(odd) {
  background: #c4a9f9;
  color: #fff;
  text-decoration: line-through;
}

#challengesUL li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
