<div class="container-fluid">
  <!-- Page Heading -->
  <app-salute-message></app-salute-message>
  <!-- Content Row -->
  <div class="row">
    <!-- Component 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <app-card
        title="Hours of sleep (Weekly)"
        value="56 hours"
        iconClass="fa-solid fa-bed fa-2xl"
      ></app-card>
    </div>
    <!-- Component 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <app-card
        title="Hours of physical activity (Daily)"
        value="3 hours"
        iconClass="fas fa-running fa-2xl"
      ></app-card>
    </div>
    <!-- Component 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <app-card
        title="Miligrams of caffeine consumed (Weekly)"
        value="2100 mg"
        iconClass="fas fa-coffee fa-2xl"
      ></app-card>
    </div>
    <!-- Component 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <app-card
        title="Daily screen Time (hours)"
        value="4:23 hours"
        iconClass="fas fa-mobile-alt fa-2xl"
        borderColor="success"
        class="purple-card"
      ></app-card>
    </div>

    <!-- Content Row -->
    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-6">
        <app-container title="Weekly Sleep Challenges">
          <!-- <app-data></app-data> -->
          <ul class="list-group" id="challengesUL">
            <li>Stick to a consistent bedtime for better sleep.</li>
            <li>Avoid screens before bedtime for improved rest.</li>
            <li>Limit caffeine intake for better sleep.</li>
            <li>Unwind with a bedtime relaxation routine.</li>
            <li>Skip the snooze button for a refreshed morning.</li>
          </ul>
        </app-container>
      </div>

      <div class="col-xl-6 col-lg-6">
        <app-container title="Quote of the day">
          <div id="quote-image-area"></div>
          <img
            class="img-fluid"
            src="https://zenquotes.io/api/image"
            alt="Imagen de la API"
          />
        </app-container>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <!-- Content Column -->
      <div class="col-lg-6 mb-4">
        <app-container title="Your current sleep state">
          <canvas id="main-chart-area"></canvas>
        </app-container>
      </div>

      <div class="col-lg-6 mb-4">
        <app-container title="Today's video: 'How To Fix Your Sleep Schedule'">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe
              class="sleep-video embed-responsive-item"
              src="https://www.youtube.com/embed/P_i6yqWjASk"
              title="How To Fix Your Sleep Schedule (PROVEN Step-By-Step Guide)"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <!-- VIDEO  -->
        </app-container>
      </div>
    </div>
    <!-- Charts Section -->
    <section id="charts">
      <h3 class="text-center text-dark responsive">Global Charts</h3>
      <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
          <app-container title="Global sleep quality">
            <canvas id="main-chart-line"></canvas>
          </app-container>
        </div>

        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-12 mb-4">
            <app-container title="Global Stress Levels">
              <canvas id="main-chart-bars"></canvas>
            </app-container>
          </div>
        </div>

        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-6 mb-4">
            <app-container title="Global Heart Rate and Physical Activity">
              <canvas id="main-chart-radar"></canvas>
            </app-container>
          </div>

          <div class="col-lg-6 mb-4">
            <app-container
              title="Sleep Duration According to the Number of Daily Steps"
            >
              <canvas id="main-chart-scatter"></canvas>
            </app-container>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
