<!-- Tabla con datos -->
<div class="dropdown text-center">
  <button
    class="btn dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Choose
    {{ category }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ul class="list-unstyled" *ngFor="let key of uniqueKeys">
      <li class="dropdown-item" (click)="sectionBySelectedCategory(key)">
        {{ key }}
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <table
    class="table table-striped table-hover rounded rounded-5 overflow-hidden mt-3"
  >
    <tbody>
      <tr>
        <th>ID</th>
        <th>Age</th>
        <th>Sleep Duration</th>
        <th>Quality of sleep</th>
        <th>Blood pressure</th>
        <th>Heart rate</th>
      </tr>
      <tr *ngFor="let datum of sectionedData">
        <td>{{ datum["Person ID"] }}</td>
        <td>{{ datum.Age }}</td>
        <td>{{ datum["Sleep Duration"] }}</td>
        <td>{{ datum["Quality of Sleep"] }}</td>
        <td>{{ datum["Blood Pressure"] }}</td>
        <td>{{ datum["Heart Rate"] }}</td>
      </tr>
    </tbody>
  </table>
</div>
