<!-- Tabla con datos -->
<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ category }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<table>
  <tbody>
    <tr *ngFor="let datum of data">
      <th>{{ datum.Age }}</th>
      <td>{{ datum["BMI Category"] }}</td>
    </tr>
  </tbody>
</table>
